BODY {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	background-color: Black;
}
div.content
{
  margin: 20px;
}
div.mainBox 
{
	border: solid 2px #1E515D;
}
div.mainBox h1 {
	background-color:#4FB0C6;
	font-size: 32pt;
	text-align: Left;
	padding: 2px 2px 2px 18px;
}
div.text
{
	text-align: Left;
	margin: 2px 2px 2px 20px;
	color: #4FB0C6;
}
div.topnav {
    overflow: hidden;
    border: solid #1E515D;
    border-width: 0px 0px 0px 2px;
    margin: 20px;
}
div.topnav a {
    float: left;
    color: #318497;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	font-weight:bold;  
	border: solid #1E515D; 
	border-width: 2px 2px 2px 0px;
}

div.topnav a:hover {
	background-color:#4FB0C6;
    color: black;
}

div.topnav a.active {
    background-color: #318497;
    color: black;
}
img.appleDownloadbutton {
	padding: 4%;
	width: 35.5%;
}
img.googleDownloadbutton {
	padding: 4%;
	width: 40%;
}
div.error
{
  color: red;
  font-weight: bold;
}
img.banner {
	max-width: 512px;
	padding: 10px 0em 0em 0em;	
	width: 100%;
/*	display: block; for the img inside your div   
	margin-left: auto;
	margin-right: auto;*/
}

